
.with-map{
  width: 300%;
  height: 100%;
}

@media (max-width: 1880px) {
  .with-map{
    width: 270%;
  }
}

@media (max-width: 1700px) {
  .with-map{
    width: 240%;
  }
}

@media (max-width: 1520px) {
  .with-map{
    width: 220%;
  }
}

@media (max-width: 1420px) {
  .with-map{
    width: 200%;
  }
}

@media (max-width: 1320px) {
  .with-map{
    width: 180%;
  }
}

@media (max-width: 1158px) {
  .with-map{
    width: 160%;
  }
}

@media (max-width: 1050px) {
  .with-map{
    width: 140%;
  }
}

@media (max-width: 991px) {
  .with-map{
    width: 155%;
  }
}
